* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style: none;
  color: #fff;
}

/* 0. 기본설정 */
.block {
  display: block;
}
.flex {
  display: flex;
}
.none {
  display: none;
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
  display: flex;
}

/* 1. 하단플레이어 */
.play {
  position: fixed;
  bottom: 0px;
  height: 80px;
  background-color: rgb(22, 22, 22);
  width: 100%;
}

/* 2.사이드바 */
.nav {
  width: 150px;
  min-width: 180px;
  border-right: solid 0.2px rgba(255, 255, 255, 0.18);
  padding: 25px 30px;
}
.logo {
  margin-bottom: 20px;
  line-height: -20px;
}
.logo span:nth-child(1) {
  font-size: 15px;
  font-weight: 600;
}
.logo span:nth-child(2) {
  font-size: 23px;
  font-weight: 900;
}
.user {
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  border-top: solid 0.2px rgba(255, 255, 255, 0.18);
  border-bottom: solid 0.2px rgba(255, 255, 255, 0.18);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 20px;
}
.user img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}
.name {
  position: relative;
}
.name:hover ul {
  position: absolute;
  top: 15px;
  left: 0;
  display: block;
  background-color: rgb(49, 49, 49);
  padding: 5px;
  width: max-content;
  border-radius: 10px;
}
.name ul li {
  padding: 5px 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 200;
}
.name ul li:not(:last-child) {
  border-bottom: solid 0.2px rgba(255, 255, 255, 0.18);
}

.membership-btn {
  border: none;
  background: linear-gradient(104deg, #ff0c28 9%, #d901df 51%, #7200ff 98%);
  width: 180px;
}

/* 3.메인 */
.main {
  height: 100dvh;
  width: 100%;
  overflow-x: scroll;
  font-size: 24px;
}
/* 3-1.프로모션 */
.promotion {
  height: 300px;

  margin: 0 70px;
  margin-top: 50px;
  margin-bottom: 50px;

  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.promotion > .promotion-img {
  flex: 2;
  height: inherit;
  overflow: hidden;
  width: 380px;
  height: 100%;
}
.promotion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.headline {
  flex: 3;
  padding: 30px;
  flex-direction: column;

  background: linear-gradient(to top left, rgb(33, 33, 33), rgb(80, 80, 80));
  height: 100%;
  justify-content: center;
}

.headline-text {
  font-size: 15px;
  color: rgb(190, 190, 190);
  margin: 10px 0;
  white-space: no-wrap;
  overflow: hidden;

  text-overflow: ellipsis;
}
/* 3-2.매거진 */
.magazine {
  margin: 0 70px;
  margin-bottom: 50px;
}
.head {
  justify-content: space-between;
  font-size: 12px;
  align-items: end;
  margin-bottom: 10px;
}
.magazine-content {
  overflow: scroll;
  overflow-y: hidden;
}
.magazine-content::-webkit-scrollbar {
  display: none;
}
.magazine-content ul {
  gap: 15px;
}
.magazine-content ul li {
  width: 300px;
  min-width: 300px;
}

.magazine-content ul li img {
  width: 100%;
}
.magazine-content ul div p {
  font-size: 15px;
}

/* 4.푸터 */
footer {
  margin: 0 43px;
  margin-top: 150px;
}
