* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.container {
  height: 100%;
  background-color: rgb(166, 99, 166);
  position: relative;
  background: url("https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==")
    fixed center;
  background-size: cover;
}
.chat-screen {
  height: calc(100% - 60px);
}
.chat-screen-bar {
  width: 100%;
  position: fixed;
  z-index: 1;
}
.user {
  background-color: rgb(244, 244, 244);
  padding: 15px;
  height: 80px;
}
.user-column {
  display: inline-block;
}
.user-pic {
  width: 50px;
  height: 50px;
  background-color: rgb(166, 99, 166);
  border-radius: 10px;
  margin-right: 15px;
  background-image: url("https://images.unsplash.com/photo-1570499911518-9b95b0660755?q=80&w=3008&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}
.user-name,
.user-count {
  position: relative;
  top: -7px;
  margin-bottom: 5px;
}

.user-count {
  font-size: 12px;
  color: rgb(152, 152, 152);
}

.chat-form {
  height: 60px;
  background-color: white;
}
.chat-form-field {
  height: 100%;
}
.chat-form-msg {
  width: calc(100% - 120px);
  height: 100%;
  border: none;
  resize: none;
  font-size: 24px;
  padding: 10px;
}
.chat-form-msg:focus {
  outline: none;
}
.chat-form-bt {
  height: 100%;
  width: 120px;
  border-radius: 10px;
  float: right;
  background-color: rgb(34, 34, 34);
  color: aliceblue;
  font-size: 18px;
  border: none;
}
.chat-form-bt:active {
  background-color: black;
}
main {
  overflow: scroll;
}
.chat-screen-texts {
  margin-top: 90px;
}
.chat-screen-texts {
  padding: 0;
  list-style-type: none;
}
.chat-screen-texts > .text {
  margin: 10px;
}
.chat-screen-texts > .text > p {
  display: inline-block;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  height: 50px;
  line-height: 20px;
  position: relative;
}
.chat-screen-texts > .text > p::after {
  content: "";
  border-right: 16px solid rgb(255, 255, 255);
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 15%;
  left: -15px;
  margin-left: 10px;
}
/* 참고 https://m.blog.naver.com/agensoft/221024439372 말픙선  */
.text p:hover {
  background-color: rgb(220, 195, 255);
  transition: all 0.3s;
}
.text p:hover::after {
  border-right: 16px solid rgb(220, 195, 255);
  transition: all 0.3s;
}
.my-text {
  text-align: end;
}
.chat-screen-texts > .my-text > p::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 100%;
  margin-left: -11px;
  border-right: transparent;
  border-left: 16px solid rgb(255, 255, 255);
  border-bottom: 16px solid transparent;
}
.my-text p:hover::after {
  border-left: 16px solid rgb(220, 195, 255);
  transition: all 0.3s;
}
