.footer {
  border-top: 0.5px solid rgb(195, 195, 195);
}
.footer-container {
  width: 48rem;
  margin: auto;
}
.links {
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(195, 195, 195);
  margin-top: 50px;
}
.links .left {
  position: relative;
}
.links .left .show {
  position: absolute;
  top: -35px;
  font-weight: 700;
  display: none;
}

.links .left ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.links .left ul li {
  font-size: 14px;
  font-weight: 400;
  color: rgb(73, 73, 73);
}
.links .left {
  gap: 50px;
}
.links .right h2 {
  font-size: 14px;
  padding-bottom: 10px;
}
.links .right button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 0.5rem;
}
.about {
  margin: 50px auto;
  margin-bottom: 200px;
}

.about-content {
  font-size: 12px;
  color: rgb(94, 94, 94);
}

.about .icon {
  float: right;
}
.about .about-content {
  float: left;
}
.about {
}
@media screen and (max-width: 840px) {
  .links .left {
    margin-left: 10px;
  }

  .links .left .show {
    display: block;
  }
  .links .right {
    display: none;
  }
  .banner {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .about {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .about .icon {
    float: none;
  }
}
